#about-container {
  text-align: center;
  padding: 2rem;
  margin: auto;

}
#about {
  margin: auto;
  margin-bottom: 1%;
  margin-top: 2%;
  padding: 15px 4px;
  color: #c8b8b8;
  font-size: 5rem;
}

#about-info {
  margin: auto;
  padding: 15px;
  color: #c8b8b8;
  line-height: 2rem;
  font-size: 1.3rem;
  font-family: "Garamond";
  max-width: 90%;
}
#about-icon {
  margin-top:2%;
  margin-left: auto;
  margin-right:auto;
  border-radius: 50%;
  width: 17rem;
  height: 17rem;
  overflow: hidden;
}
#about-icon img{
  transform: translate(-38.5%,-30%);
}
@media screen and (max-width: 600px) {
  #about-info {
    margin: auto;
    padding: 5px;
    color: #C6A1CF;
    line-height: 1.4rem;
    font-size: 1rem;
    font-family: "Garamond";
    max-width: 99%;
  }
  #name1{
    font-size: 7rem;
  }
}
