#airplane img {
  height: 8rem;
  perspective: 1000px;
  background-color: transparent;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-animation: movingplane 50s infinite;
  -moz-animation: movingplane 50s infinite;
  -o-animation: movingplane 50s infinite;
}

#cloud1 img{
  height: 30vh;
  position: absolute;
  -webkit-animation: cloud1 30s linear infinite;
  -moz-animation: cloud1 30s linear infinite;
  -o-animation: cloud1 30s linear infinite;
  transform: translate(-50%,-50%);
}
@keyframes cloud1 {
  0% {
    margin-left: 98%;
    top:25vh;
  }
  50% {
    margin-left:70%;
    top: 25vh;
  }
  100% {
    margin-left: 98%;
    top: 25vh;
  }
}

#cloud2 img{
  height: 32vh;
  position: absolute;
  -webkit-animation: cloud2 30s linear infinite;
  -moz-animation: cloud2 30s linear infinite;
  -o-animation: cloud2 30s linear infinite;
  transform: translate(-50%,-50%);
}
@keyframes cloud2 {
  0% {
    margin-left: 95%;
    top:15vh;
  }
  50% {
    margin-left:75%;
    top: 15vh;
  }
  100% {
    margin-left: 95%;
    top: 15vh;
  }
}
#cloud3 img{
  height: 30vh;
  position: absolute;
  -webkit-animation: cloud3 20s linear infinite;
  -moz-animation: cloud3 20s linear infinite;
  -o-animation: cloud3 20s linear infinite;
}
@keyframes cloud3 {
  0% {
    margin-left: 5%;
    top:10vh;
    transform: translate(-50%,-50%);
  }
  50% {
    margin-left:18%;
    top: 10vh;
    transform: translate(-50%,-50%);
  }
  100% {
    margin-left: 5%;
    top: 10vh;
    transform: translate(-50%,-50%);
  }
}
#cloud4 img{
  height: 40vh;
  position: absolute;
  -webkit-animation: cloud4 20s linear infinite;
  -moz-animation: cloud4 20s linear infinite;
  -o-animation: cloud4 20s linear infinite;
  transform: translate(-50%,-50%);
}
@keyframes cloud4 {
  0% {
    margin-left: 6%;
    top:20vh;
  }
  50% {
    margin-left:15%;
    top: 20vh;
  }
  100% {
    margin-left: 6%;
    top: 20vh;
  }
}

@keyframes movingplane {
  0% {
  margin-left: 10%;
  top: 30vh;
  -webkit-transform: rotate(32deg);
  -moz-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  transform: rotate(32deg);
  }
	6% {
        margin-left: 30%;
        top:80vh;
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-12deg);
    }
    7% {
          margin-left: 30%;
          top:80vh;
          -webkit-transform: rotate(-10deg);
          -moz-transform: rotate(-10deg);
          -ms-transform: rotate(-10deg);
          transform: rotate(-17deg);
      }

    12% {
        margin-left: 80%;
        top: 70vh;
        -webkit-transform: rotate(-10deg);
	       -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
	       transform: rotate(-12deg);
    }
    13% {
        margin-left: 80%;
        top: 70vh;
        -webkit-transform: rotate(-85deg);
         -moz-transform: rotate(-85deg);
        -ms-transform: rotate(-85deg);
         transform: rotate(-75deg);
    }
    18% {
      margin-left: 90%;
      top: 10vh;
      -webkit-transform: rotate(-10deg);
	    -moz-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
	    transform: rotate(-12deg);
    }
    19% {
      margin-left: 90%;
      top: 10vh;
      -webkit-transform: rotate(-40deg);
      -moz-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
      transform: rotate(-40deg) rotateY(-180deg);

    }
    24% {
        margin-left: 60%;
        top: 70vh;
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(12deg) rotateY(-180deg);
    }
    25% {
        margin-left: 60%;
        top: 70vh;
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg) rotateY(-180deg);
    }
    30% {
        margin-left: 10%;
        top: 40vh;
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(12deg) rotateY(-180deg);
    }
    31% {
        margin-left: 10%;
        top: 40vh;
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        transform: rotate(25deg) rotateY(0deg);
    }
    36% {
        margin-left: 80%;
        top: 90vh;
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-12deg) rotateY(0deg);
    }
    37% {
        margin-left: 80%;
        top: 90vh;
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(40deg) rotateY(180deg);
    }
    42% {
        margin-left: 30%;
        top: 10vh;
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(12deg) rotateY(180deg);
    }
    43% {
        margin-left: 30%;
        top: 10vh;
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(30deg) rotateY(0deg);
    }
    48% {
        margin-left: 65%;
        top: 35vh;
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-12deg) rotateY(0deg);
    }
    49% {
        margin-left: 65%;
        top: 35vh;
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-25deg) rotateY(0deg);
    }
    54% {
        margin-left: 90%;
        top: 20vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-12deg) rotateY(0deg);
    }
    55% {
        margin-left: 90%;
        top: 20vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-12deg) rotateY(-180deg);
    }
    60% {
        margin-left: 30%;
        top: 50vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(12deg) rotateY(-180deg);
    }
    61% {
        margin-left: 30%;
        top: 50vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-20deg) rotateY(0deg);
    }
    66% {
        margin-left: 70%;
        top: 30vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-12deg) rotateY(0deg);
    }
    67% {
        margin-left: 70%;
        top: 30vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-30deg) rotateY(-180deg);
    }
    72% {
        margin-left: 10%;
        top: 90vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(12deg) rotateY(-180deg);
    }
    73% {
        margin-left: 10%;
        top: 90vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-30deg) rotateY(0deg);
    }
    78% {
        margin-left: 50%;
        top: 60vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-12deg) rotateY(0deg);
    }
    79% {
        margin-left: 50%;
        top: 60vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(30deg) rotateY(-180deg);
    }
    84% {
        margin-left: 20%;
        top: 40vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(12deg) rotateY(-180deg);
    }
    85% {
        margin-left: 20%;
        top: 40vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-20deg) rotateY(0deg);
    }
    90% {
        margin-left: 90%;
        top: 30vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-12deg) rotateY(0deg);
    }
    91% {
        margin-left: 90%;
        top: 30vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-30deg) rotateY(-180deg);
    }
    95% {
        margin-left: 40%;
        top: 60vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(12deg) rotateY(-180deg);
    }
    96% {
        margin-left: 40%;
        top: 60vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(30deg) rotateY(-180deg);
    }
    99% {
        margin-left: 10%;
        top: 30vh;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(12deg) rotateY(-180deg);
    }
    100% {
      margin-left: 10%;
      top: 30vh;
      -webkit-transform: rotate(-25deg);
      -moz-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
      transform: rotate(32deg) rotateY(0deg);
    }

}
