#landing-break {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  overflow: hidden;
  margin-bottom: -170px;
}
.content-container {
  text-align: center;
  padding: 2rem;
  margin: auto;
}

#education-break {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  overflow: hidden;
  margin-bottom: -60px;
}
