#education-container {
  text-align: center;
  padding: 2rem;
  margin: auto;

}
#education {
  margin: auto;
  margin-bottom: 1%;
  margin-top: 2%;
  padding: 15px 4px;
  color: #c8b8b8;
  font-size: 5rem;
}
