
#landing {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

#landing-links {
  font-size: 20px;
  justify-content: center;
  display: flex;
  margin-top: 5vh;
  color: #c8b8b8;

}

#landing-links a {
  text-decoration: none;
  text-align: center;
  padding: 5px;
  float: right;

}
#landing-links a img {
  height: 25px;
}

#info-container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 60rem;
  margin: auto;
  justify-content: center;
}

#name {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  color: #C6A1CF;
  font-size: 6rem;

}

@media screen and (max-width: 600px) {
  #name2 {
    display: none;
  }
  #name1{
    font-size: 7rem;
  }
}
