#skills {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  margin-top: 2%;
  padding: 15px 4px;
  color: #c8b8b8;
  font-size: 5rem;
}
#skill-1{
  opacity:0;
  margin-top: -50%;
}
#skill-2 {
  opacity:0;
  margin-top: -50%;
}
#skill-3 {
  opacity:0;
  margin-top: -50%;
}
#skill-4 {
  opacity:0;
  margin-top: -50%;
}
#skill-1title {
  opacity:0;
  margin-top: -50%;
}
#skill-2title {
  opacity:0;
  margin-top: -50%;
}
#skill-3title {
  opacity:0;
  margin-top: -50%;
}
#skill-4title {
  opacity:0;
  margin-top: -50%;
}
#skill-1content {
  opacity:0;
  margin-top: -50%;
}
#skill-2content {
  opacity:0;
  margin-top: -50%;
}
#skill-3content {
  opacity:0;
  margin-top: -50%;
}
#skill-4content{
  opacity:0;
  margin-top: -50%;
}
#skills-info-container {
  margin:auto;
  text-align: center;
  padding: 2rem;
}

#skills-info-title1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  margin-top: 2%;
  padding: 15px 4px;
  color: #c8b8b8;
  font-size: 2.5rem;
  transition: all 0.5s;
  opacity: 0;
}
#skills-info-title2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  margin-top: 2%;
  padding: 15px 4px;
  color: #c8b8b8;
  font-size: 2.5rem;
  transition: all 0.5s;
  opacity: 0;
}
#skills-soft-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  column-gap: 1.5vw;
  grid-row-gap: 1rem;
  row-gap: 1rem;
  margin: 0;
  justify-content: center;
}
.skills-soft-item {
  display: block;
  transition: all 1.5s;
}
.skills-soft-title{
  font-size: 2rem;
  padding:4px;
  color: #c8b8b8;
  transition: all 1.5s;
}
.skills-soft-content {
  padding:4px;
  color: #c8b8b8;
  transition: all 1.5s;
}
.skills-soft-item img{
  max-height: 35vh;
  max-width: 45vw;
    transition: all 1.5s;
}
#skills-language-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  column-gap: 1.5vw;
  grid-row-gap: 1rem;
  row-gap: 1rem;
  justify-items: center;
  margin: auto;
  transition: all 1.5s;
  opacity: 0;
}
#skills-language-container img {
  height: 100px;
}

@media screen and (max-width: 1200px) {
  #skills-soft-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    column-gap: 1.5vw;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    margin: 0;
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  #skills-language-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    column-gap: 1.5vw;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    justify-items: center;
    margin: auto;

  }
}
@media screen and (max-width: 650px) {
  #skills-soft-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    column-gap: 1.5vw;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    margin: auto;
    justify-content: center;
  }
  #skills-info-title1 {
    display: none;
  }
  #skills-language-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    column-gap: 1.5vw;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    justify-items: center;
  }
}
